doctype
html
    head
      title YERRRR
      link(rel='stylesheet', href='/stylesheets/home.css')
      script(src="/static/js/jquery.js")
      script(src="/static/js/modernizr.js")
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="/static/js/react.min.js")
      script(src="/static/js/react-dom.min.js")
      script(src="/static/js/browser.min.js")

      link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
      script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

<<<<<<< HEAD
    body
      nav#navBar
        img#logo(src="/static/img/full-logo.png")
      h3#titleMessage Chess is your new favorite background checking platform, <br> designed for both employees as well as employers.
      p New to Chess? 
        a(href="#") Create an account
      p Returning user? 
        a(href="#") Sign in
=======
    body#body
      h1 Yooooo
      h3 Some other text
      
>>>>>>> a51f11c9f5db7c6cd8a6573b74674725b1c8162f
