doctype
html
    head
      title YERRRR
      // link(rel='stylesheet', href='/stylesheets/home.css')
      script(src="/static/js/jquery.js")
      script(src="/static/js/modernizr.js")
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="/static/js/react.min.js")
      script(src="/static/js/react-dom.min.js")
      script(src="/static/js/browser.min.js")

      link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
      script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

    body#body
      h1 Yooooo
      h3 Some other text
      