doctype
html
    head
      title Chess - Hire smart.
      link(rel='stylesheet', href='/stylesheets/base.css')
      link(rel='stylesheet', href='/stylesheets/home.css')
      script(src="/static/js/jquery.js")
      script(src="/static/js/modernizr.js")
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="/static/js/react.min.js")
      script(src="/static/js/react-dom.min.js")
      script(src="/static/js/browser.min.js")

      link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
      script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

    body.container
      .row
        #navBar
          .col-md-12
            img#logo(src="/static/img/badge.png")
            button.chess-button Log In
        .col-md-8
          h3.chess-h3#titleMessage Chess is your new favorite background checking platform, <br> designed for both employees as well as employers.
          p New to Chess? 
            a(href="#") Create an account
          p Returning user? 
            a(href="#") Sign in
