doctype
html
    head
      title Chess - Hire smart.
      link(rel='stylesheet', href='/stylesheets/base.css')
      link(rel='stylesheet', href='/stylesheets/home.css')
      script(src="/static/js/jquery.js")
      script(src="/static/js/modernizr.js")
      script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
      script(src="/static/js/react.min.js")
      script(src="/static/js/react-dom.min.js")
      script(src="/static/js/browser.min.js")

      link(rel='stylesheet', href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
      script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")

    body.container
      .row
        #navBar
          .col-md-12
            img#logo(src="/static/img/badge.png")
            button.chess-button About
        .col-md-8#homeBody
          h3.chess-h3#titleMessage Designed for both employees as well as employers, <br> Chess is your new favorite background checking platform. <br> 
          div#accountQuestions
            p.chess-p New to Chess? 
              a(href="#") Create an account
            p.chess-p Returning user? 
              a(href="#") Sign in
        .col-md-4#createAccount
          h1 lmaooo
        #footer
