doctype
html
  head
    title Recommendations
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
  body.container
    h1 Hiya
    //- content div to be populated later
    #content

    script(src='./../static/js/bundle_recs.js')
