@import './variable-map.css';
@import './create-account.css';

:root {
	--color-text: #13203B; // almost black with some blue in it.
	--color-white: #fff;
	--color-primary: #5189FF;
	--color-secondary: #28457F;
	--color-tertiary: #3D67BF;
}

#particles-js {
  background-color: transparent;
  background-size: cover;
  background-position: 50% -50%;
  background-repeat: no-repeat;
}

.particles-js-canvas-el {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
 }

#logo {
	width: 7vh;
	display: block;
	margin: 0 auto;
	padding-top: 1.5vh;
}

#navBar .col-md-12 {
	height: 10vh;
	width: 100%;
	background-color: var(--color-primary);
	position: absolute;
	left: 0px;
	top: 0px;
}

#navBar .chess-button {
	position: absolute;
	left: 88vw;
	top: 0;
	margin-top: 2.5vh;
	line-height: 4vh;
	height: 5vh;
	width: 8vw;
}

#accountQuestions {
	margin-top: 5vh;
}

#homeBody, #createAccount {
	position: relative;
	top: 17vh;
}

#homeBody {
	background-color: transparent;
}

#footer {
	height: 10vh;
	width: 100vw;
	background-color: var(--color-primary);
	position: absolute;
	left: 0px;
	bottom: 0px;
}